{% extends 'site_quotes/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.quote.label_tag }}
            {{ form.quote.as_widget }}
        </div>
        <div class="mb-3">
            {{ form.tags.label_tag }}
            {{ form.tags.as_widget }}
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="check_author_group" id="check_author_choice">
            <label class="form-check-label" for="check_author_choice">
                {{ form.author_choice.label_tag }}
                {{ form.author_choice.as_widget }}
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="check_author_group" id="check_author_input">
            <label class="form-check-label" for="check_author_input">
                {{ form.author_input.label_tag }}
                {{ form.author_input.as_widget }}
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}